@model IEnumerable<Models.EF.Content>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
	<div class="content_top">
		<div class="heading">
			<h3>Tin tức</h3>
		</div>
		<div class="see">

		</div>
		<div class="clear"></div>
	</div>
	@foreach (var item in Model)
	{
		<div class="image group">
			<div class="grid images_3_of_1">
				<a href="/tin-tuc/@item.MetaTitle-@item.ID"><img src="@item.Image" alt="" width="200" /></a>
			</div>
			<div class="grid news_desc">
				<h3><a href="/tin-tuc/@item.MetaTitle-@item.ID">@item.Name </a></h3>
				<h4>Posted on @item.CreatedDate by <span><a href="#">@item.CreatedBy</a></span></h4>
				@item.Description
			</div>
		</div>
	}

</div>
@if (ViewBag.TotalPage > 1)
{
	var pageDisplay = (int)ViewBag.MaxPage;
	int totalPage = (int)ViewBag.TotalPage;
	int currentPage = ((int)ViewBag.Page);

	// Create numeric links
	var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
	var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

	var link = "/tin-tuc";
	<nav>
		<ul class="pagination">
			@if (currentPage > ViewBag.First)
			{
				<li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
				<li>
					<a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
				</li>

			}
			@for (int i = startPageIndex; i <= endPageIndex; i++)
			{
				if (currentPage == i)
				{

					<li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
				}
				else
				{
					<li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
				}
			}
			@if (currentPage < totalPage)
			{
				<li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
				<li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
			}

		</ul>
	</nav>

}
    <div style="background:#efcab2;margin-top: 10px">

        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators" style="margin-left:220px">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" style="width:950px;">
                    <div class="item active">
                        <div class="carousel-caption">
                            <h1>Roger Vivier </h1>
                            <p> ‘Hãy mang những giấc mơ của bạn lên đôi chân để dẫn lối giấc mơ đó thành hiện thực.</p>
                        </div>
                        <img src="~/assets/client/images/bitisposter.png" alt="Bill Gates">

                    </div>
                    <div class="item">
                        <img src="~/assets/client/images/bitisposter.png" alt="Dr. Seuss">
                        <div class="carousel-caption">
                            <h1>Bitis</h1>
                            <p>“ Biti’s – Nâng niu bàn chân Việt” là sứ mệnh cao cả mà Biti’s đang hướng đến: Sản phẩm mang tính nhân văn và nghệ thuật – là phải tạo ra những sản phẩm đẹp, nâng cao giá trị và đẳng cấp cho người sử dụng, hoạt động thiết kế mẫu mã phải đáp ứng thị hiếu của người tiêu dùng vừa mang tính an toàn nhẹ nhàng, thoải mái khi sử dụng.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/assets/client/images/bitisposter.png" alt="Denis Waitley">
                        <div class="carousel-caption">
                            <h1>Christian Dior </h1>
                            <p> ‘Bạn sẽ khó có nhiều thời gian để chăm chút cho sự lựa chọn giầy dép. Có quá nhiều phụ nữ nghĩ rằng giầy dép không quan trọng, nhưng toàn bộ sự tinh tế của phụ nữ toát ra chính từ đôi chân.’</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<!--Tạo hiệu ứng Slide bằng JQUERY-->
<script>
	$('#myCarousel').carousel({
		interval: 4000
	});
</script>
<!--bootstrap slide châm ngôn-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<!--Liên hệ-->
<div style="margin-top:30px;">

	<h2 style="font-size:25px;text-align:center">	<a href="/Lien-he">Mọi chi tiết xin liên hệ tại đây</a></h2>
</div>