@model List<Models.EF.Content>
@{
	var category = (Models.EF.Category)ViewBag.Category;
	ViewBag.Title = category.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section slide{

}
<div class="content">
	<div class="content_top">
		<div class="heading">
			<h3 style="color:blue;">@category.Name</h3>
		</div>
		
		<div class="clear"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="section group">
				@foreach (var item in Model)
				{
					var url = "/chi-tiet1/" + item.MetaTitle + "-" + item.ID;
					<div class="col-md-3">
						<div class="thumbnail">
							<div class="caption">
								<h4>@item.Name</h4><br />
								<p>@item.Description</p><br /><br />

							</div> <a href="@url"><img src="@item.Image" alt="@item.Name" /></a>
						</div>
					</div>
					<p>
						<a href="@url" class="btn btn-danger" rel="tooltip" title="" data-original-title="Xem chi tiết">Xem</a>
					</p><br />
				}
				<div class="clear"></div>
				<!--Phân trang-->


			</div>

		</div>
	</div>
</div>

<style type="text/css">
	.thumbnail {
		position: relative;
		overflow: hidden;
	}

	.caption {
		position: absolute;
		top: 0;
		right: 0;
		background: rgba(66, 139, 202, 0.75);
		width: 100%;
		height: 100%;
		padding: 2%;
		display: none;
		text-align: center;
		color: #fff !important;
		z-index: 2;
	}
</style>

<script type="text/javascript">
	$(document).ready(function () {
		$("[rel='tooltip']").tooltip();
		$('.thumbnail').hover(
			function () {
				$(this).find('.caption').slideDown(250); //.fadeIn(250)
			},
			function () {
				$(this).find('.caption').slideUp(250); //.fadeOut(205)
			}
		);
	});
</script>