@{
	ViewBag.Title = "Trang Chủ";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var listNewProducts = (List<Models.EF.Product>)ViewBag.NewProducts;
	var listFeatureProducts = (List<Models.EF.Product>)ViewBag.ListFeatureProducts;

}
<!--Link javascrip-->
<script src="~/Scripts/jquery.signalR-1.0.0.min.js"></script>
<script src="@Url.Content("~/signalr/hubs")"></script>
<script>
	$(function () {
		var counterhub = $.connection.counterHub;
		$.connection.hub.start().done(function () {
		});

		counterhub.client.updatecounter = function (count) {
			$("#counter").text(count);
		}
	});
</script>
<br />

<div class="content">
	<div class="content_top">
		<div class="heading">
            <h3>Giày mới</h3>
		</div>

		<div class="clear"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="section group">
				@foreach (var item in listNewProducts)
				{
					var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
					<div class="col-md-3">
						<div class="thumbnail">
							<div class="caption">
								<h4>@item.Name</h4><br />
								<p>@item.Description</p><br /><br />
								<p>
									<a href="@url" class="btn btn-danger" rel="tooltip" title="" data-original-title="Xem chi tiết">Xem</a> <a href="/them-gio-hang?productId=@item.ID&quantity=1" class="btn btn-success" rel="tooltip" title="" data-original-title="Mua hàng">Mua</a>
								</p>
							</div> <a href="@url"><img src="@item.Image" alt="@item.Name" class="grid_1_of_4 images_1_of_4" /></a>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
	<div class="content_bottom">
		<div class="heading">
            <h3>Giày HOT</h3>
		</div>
		<div class="clear"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="section group">
				@foreach (var item in listFeatureProducts)
				{
					var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
					<div class="col-md-3">
						<div class="thumbnail">
							<div class="caption">
								<h4>@item.Name</h4><br />
								<p>@item.Description</p><br /><br />
								<p>
									<a href="@url" class="btn btn-danger" rel="tooltip" title="" data-original-title="Xem chi tiết">Xem</a> <a href="/them-gio-hang?productId=@item.ID&quantity=1" class="btn btn-success" rel="tooltip" title="" data-original-title="Mua hàng">Mua</a>
								</p>
							</div> <a href="@url"><img src="@item.Image" alt="@item.Name" /></a>
						</div>
					</div>
				}
			</div>

		</div>
	</div>
</div>
<!--Css-->
<style type="text/css">
	.thumbnail {
		position: relative;
		overflow: hidden;
	}

	.caption {
		position: absolute;
		top: 0;
		right: 0;
		background: rgba(66, 139, 202, 0.75);
		width: 100%;
		height: 100%;
		padding: 2%;
		display: none;
		text-align: center;
		color: #fff !important;
		z-index: 2;
	}

	.text {
		font-weight: bold;
		color: blue;
		font-size: 20px;
	}
</style>
<!--Javascrip-->
<script type="text/javascript">
	$(document).ready(function () {
		$("[rel='tooltip']").tooltip();
		$('.thumbnail').hover(
			function () {
				$(this).find('.caption').slideDown(250); //.fadeIn(250)
			},
			function () {
				$(this).find('.caption').slideUp(250); //.fadeOut(205)
			}
		);
	});
</script>
<!--Liên hệ-->
<div style="margin-top:30px;">

	<h2 style="font-size:25px;text-align:center">	<a href="/Lien-he">Mọi chi tiết xin liên hệ tại đây</a></h2>
</div>